@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>TRANG DỊCH VỤ</h1>
<p>Khi truy cập địa chỉ .../Dichvu/ vẫn sẽ đến trang index này</p>

<a asp-page="Dichvu1">Dịch vụ 1</a>
<a asp-page="/Sanphammoi" asp-area="Products">Sản phẩm mới</a>
