@using ASP_Razor_Partial.Models
@model Product

<div class="card my-4 text-center" style="width:350px">
    <h2 class="card-header text-info">@Model.Name</h2>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
        <p class="card-text">Giá: @Model.Price</p>
        <a href="#" class="btn btn-info btn-sm">Đặt hàng</a>
    </div>
</div>